[2013-10-15 11:33] grandehombre opened #2 "Subdirectories are not processed"
I have a directory called css which contains LESS and CSS files, as well as another directory (libs).
It looks like the directory recursion part is not working.
None of the files in libs are processed,

Looking at the code

line 60:
=============================================================
          callback.pending -= 1;
          done = callback.pending === 0;
          if (!enoent) {

[2014-03-18 22:15] jfbrennan opened #5 "Changes to files that are imported are not propagated"
An example:

I have a mixins.less file that has my favorite color stored in a variable. My footer.less file imports the mixins file so it can use that color variable. When I change my favorite color in mixins I have to manually force footer to recompile.

I would expect the compiler to recompile the files that import files that have changed.

[2014-10-15 18:28] NoahJW opened #6 "Feature Request/Idea"
Nice job on this! Works beautifully.

Here's one thing that would make it even better for my use—and likely others' as well: It would great if the watcher looked in sub-directories as well. This would let me jump around inside of my Less subfolders without having to rerun the watcher.

Other than that though, great tool! Thanks a lot for taking the time to put this one together.

[2015-04-09 10:34] jonycheung commented on #6
Hi, not watching sub-directories is a bug. I've just updated and fixed it. Give it a try.

[2015-04-09 10:35] jonycheung commented on #5
Sorry for the late reply. If your files were in subdirectories, they were not picked up due to an error. It is fixed now. Let me know if this fixes your problem.

[2015-04-09 17:04] #6 closed

[2015-04-09 21:57] #5 closed

[2015-04-09 21:58] jonycheung commented on #2
Hi @grandehombre

I have made some significant updates just now to this library and incorporated most of your suggestions here. Thanks again.

[2015-04-09 21:58] #2 closed

[2015-05-10 22:55] danielkhan opened #7 "Package relies on config.json to be present"
The documentation suggests that the config file ist optional but you are trying to access it without checking for existence.

There is a valid lookup for less-watch-compiler.config.json afterwards - I didn't do a pull request because I don't know what's the plan with the other config file name.

[2015-08-13 18:34] izeta commented on #7
Yeah, I was trying to run less-watch-compiler and it was crashing trying to look for the files.

[2015-08-19 21:42] ElliottRod opened #9 "Watching directory for changes, but don't react on changes made"
Hi,

I have install the less-wacher-compiler and it seems all right until I call the command to start watcher. Then it get stuck on "Watching directory for file changes.", and I make changes on my less-folder less-files, but nothing happens on terminail.

Any suggestions?

BR
Elliott

[2015-09-06 17:19] badcrocodile commented on #9
I'm getting the same behavior as Elliott. I've tried absolute paths from '/' down as well paths relative to my config.json file without any luck. Screen output claims to be Watching directory for file changes but it's just not picking it up.

[2015-09-07 08:03] jonycheung commented on #9
HI guys, I merged @badcrocodile 's changes into master. Let me know if that worked and feel free to close.

[2015-09-07 08:14] #7 closed

[2015-09-07 08:15] #9 closed

[2016-02-08 18:24] Nihilivin opened #11 "Output unminified CSS and keep file description"
Hello,
Thank you for this small script, it will be useful to speed up my project.

I'd like to output unminified stylesheets, as I already have a minifying process otherwhere. Also, I'm used to start all my files with something like
`/**
 * @file iThoughts Tooltip Glossary tinymce form styles
 * @author Gerkin
 * @licence LGPLv2
 *
 * @version 1.0
 */`

and the compiling process strip out this com

[2016-02-19 07:08] jonycheung commented on #11
@Nihilivin I've added the ability to set a "minified" flag in the json to disable minifying files. Take a look.

[2016-02-19 07:08] #11 closed

[2016-02-19 23:35] Nihilivin commented on #11
Fine, seems perfect

[2016-02-23 16:11] guanzo opened #13 "Command line/Json options"
Can we specify an output file instead of folder? Instead of each .less file compiling into a .css file, i want all .less files to compile into a single .css file. Also, is there an option for the third parameter in the json file?

[2016-02-25 22:36] daniloster commented on #13
The new version already has it... You need to define the main input file which imports the other ones. So, if your file is main.less, it will be generated a main.css.

The name of the file must be specified as 3rd parameter.

[2016-03-01 15:51] andycastles commented on #13
In the config.json file the third parameter is called `mainFile` in the `defaults` section.

[2016-04-11 00:08] jonycheung commented on #13
thanks!

[2016-04-11 00:08] #13 closed

[2016-04-30 18:32] Pomax opened #15 "files that @import a changed file are not updated"
If I have a directory with two files, `a.less` and `b.less`, where `a.less` has an `@import "b.less";` instruction, running this watcher on the less directory will not lead to `a.less` being recompiled when `b.less` is saved, essentially voiding the very reason to use it.

The third-arg-for-main-entry-point works if you have a less dir with a single "master" file, but only pushes the problem a bit

[2016-04-30 18:40] Pomax opened #16 "less-compile-watch with third argument "main file" tries as many watch tasks as there are files"
package.json call:

[code]

result on Windows 7, running it for a source dir with 9 files:

[code]

It looks like it's seeing nine files, and sees a main entry, then runs a watch task using the main entry nine times instead of only once, so that the first watch tasks works, and then the subsequent eight fail because there's already a watch task attached to the main file.

[2016-05-03 16:05] lubomski opened #17 "node v6 seems to cause zero byting of files"
upgrading node to v6.0.0 seems to cause the less compiler to produce zero-byte files; tried the native tests and running them produced following error:

[code]
Running OS X 10.11.4 / Mac Pro; reverting to Node 5.11.0 seems to allow it to work.

Anyone else encountered this issue?

[2016-05-04 07:39] Ciantic commented on #15
I need this dependency tree feature also, it's main thing keeping me using ancient https://github.com/gdupont/less-monitor - it knows the dependency graph and builds all files smartly.

[2016-05-06 05:56] Ciantic opened #18 "Unable to pass plugins to the lessc"
I need to pass plugins to lessc command. E.g. `lessc --glob` the extra parameter there is [less glob plugin](https://github.com/just-boris/less-plugin-glob).

[2016-05-06 07:37] jonycheung commented on #15
Great input. I had the same thought but haven't had time to add this feature. It's on my list.

[2016-05-06 07:41] jonycheung commented on #16
@Pomax  Just to clarify, on every save of a file, the main gets compiled but generate extra errors in console, is this correct?

[2016-05-06 07:45] jonycheung commented on #18
@Ciantic I think I'd just add the ability to add plugins in the config.json file. What do you think?

[2016-05-06 15:01] jonycheung commented on #17
I'll look into this.

[2016-05-06 16:20] Pomax commented on #16
Hm, no, what I saw it do was trying to start up nine times (the first of which will succeed) but then if I edit and save other `.less` files (which are all `@import`ed in the main file), only the file I edited gets saved, the main entry file does *not* recompile, so I still end up saving that one every time manually.

[2016-05-10 02:28] jonycheung commented on #17
I tested on my machine and it seems to work.
[code]

[2016-05-10 02:28] #17 closed

[2016-05-13 09:47] lubomski commented on #17
@jonycheung i'm still getting the above error using node 6.1.0; i've downloaded the zip file and tried this on a vanilla OS X and the exact same error is reproducible there also. I'm not sure what the issue might be. Do you have any suggestions?

[2016-05-31 16:00] lubomski opened #19 "failing test"
Apologies in advance for reporting this again. I've been looking into the previous error of the [zero-byting files](https://github.com/jonycheung/deadsimple-less-watch-compiler/issues/17) I was experiencing; the error was reproducible across multiple OS X and Linux machines. Have tested this in a vanilla OS X VM and the tests are still failing.

**Steps to reproduce:**

Install Node JS and NPM fro

[2016-06-09 16:25] VasilNikolov opened #20 "Error on multiple PC's"
Watching directory for file changes.

C:\Users\Vasil\AppData\Roaming\npm\node_modules\less-watch-compiler\lib\lessWatchCompilerUtils.js:72
                if (err) throw err;
                         ^

Error: ENOENT: no such file or directory, stat 'C:\Projects\Less course\First\styles\less\styles\less'
    at Error (native)

ON MULTIPLE PC's

[2016-06-28 13:44] pawelgola opened #21 "Multiple Main Files JSON"
Is it possible to specifiy mutliple main files within the config.json file?

[2016-06-28 23:14] jonycheung commented on #20
@VasilNikolov  in your case, does `'C:\Projects\Less course\First\styles\less\styles\less'` exist?

[2016-06-29 12:03] VasilNikolov commented on #20
@jonycheung Yes it does exist but i think the problem is on the mentioned file and line.

[2016-07-19 06:52] caltonji opened #22 "& .class should allow space between the "&" and the ".". Currently it puts the space into the css file which will cause it not work."
Defects:
- [x] Did you run `npm install` and `npm update`
- [x] Did you pull the latest code from `master` branch?

Steps to reproduce:
#
#
#

Actual Results:
-

Expected Results:
-

[2016-07-20 12:08] jonycheung commented on #19
Please take a look now. it should be fixed.

[2016-07-20 12:13] #19 closed

[2016-07-20 13:18] jonycheung commented on #22
@caltonji I checked and it works. do you have some sample less code you can share?

[2016-07-21 16:03] ciwchris commented on #18
@jonycheung sounds great to me. I'm looking at using [less-plugin-csscomb](https://github.com/bassjobsen/less-plugin-csscomb) and so would need to add `--csscomb`.

[2016-10-10 01:09] ctolkien commented on #18
+1 to this, we cannot seem to pass a `--source-map` option to generate source maps?

[2016-10-11 01:16] #22 closed

[2016-10-12 06:30] Ciantic commented on #18
Btw, I have since then started to use "watch-run" tool, which works for me since all less files are compiled to one css file in my projects:

`watch-run -p "**/*.less" "lessc --verbose --source-map --glob style.less style.css"`

[2016-10-12 22:37] ctolkien commented on #18
Yep, we've migrated to watch-run too.

[2016-10-26 08:46] alexgreen opened #23 "compiler doesn't create source maps"
Is it possible to pass the `--source-map` option to the less compiler?

[2016-10-26 11:46] osomasoso commented on #16
It's happening the same to me, but after the errors, it runs fine and compiles perfectly.

[2016-10-27 05:08] alexgreen commented on #23
I made a change to the compileCSS function (just locally, not pushed to repo) so that it sends the sourcemap option to lessc. Seems to be working. Would be better if it allowed the sourcemap option to be set from the command line when running less-watch-compiler, but I don't know anything about js so I won't bother to figure that out.

[code]

[2016-12-06 11:52] #23 closed

[2016-12-06 13:07] jonycheung commented on #18
Sorry for the late reply. I've introduced `--source-map` support. plugins is next

[2016-12-06 13:19] jonycheung commented on #16
It doesn't seem to be happening anymore. Let me know if you still have issues with this..

[2016-12-06 13:20] #16 closed

[2017-02-24 06:54] hugotom opened #25 "Is this still being maintained? Because it says "dead"?"
Is this still being maintained? Because it says "dead"?

[2017-04-23 18:32] sergeykifyak opened #26 "Folder structure of output folder doesn't fit to the source folder"
Defects:
- [x] Did you run `npm install` and `npm update`
- [x] Did you pull the latest code from `master` branch?

Steps to reproduce:

- Create folder structure like this:
[code]
- Compile/watch the less by `less-watch-compiler styles styles`

Actual Results:
[code]

Expected Results:
[code]

[2017-05-12 11:46] jonycheung commented on #25
haha... dead simple.. not dead.

[2017-05-12 11:46] jonycheung commented on #25
but sorry. I've been a bit slow to respond.

[2017-05-12 11:46] #25 closed

[2017-05-13 06:03] jonycheung commented on #26
Thanks. There are some assumptions that the utility makes. It assumes that it renders into the root directory. And that sub-directories would contain only included files.

I need to rewrite some of the code that I borrowed from another library inside lessWatchCompilerUtils.js. If you are interested, let me know.

[2017-06-07 10:32] jonycheung commented on #15
This should be fixed in the latest release.

[2017-06-07 10:32] #15 closed

[2017-06-20 13:22] jonycheung commented on #18
This is now possible. Let me know if you have any issues.

[2017-06-20 13:22] #18 closed

[2017-06-21 12:36] jonycheung commented on #20
@VasilNikolov Could you try the latest and let me know if this is still an issue. If so, please re-open.

[2017-06-21 12:36] #20 closed

[2017-06-21 12:39] jonycheung commented on #21
hi @pawelgola instead of multiple main file, I've made it so that it maps the files and their dependencies within a given watch folder:
Example:
* main1.less includes `./include/_style1.less`
* main2.less includes `./include/_style1.less` and `./include/_style2.less`

If `./include/_style2.less` updates, main2.less gets compiled.
If `./include/_style1.less` updates, main1.less and main2.less get c

[2017-06-21 12:39] #21 closed

[2017-07-12 08:09] steinos opened #30 "Watch a directory and compile .less from a sub folder"
Defects:
- [ ] Did you run `npm install` and `npm update`
- [ ] Did you pull the latest code from `master` branch?

Steps to reproduce:
my files structure is something like this:

   apps
   -------proj1
   ---------------main.less (import proj1.less, '../common/1.less', '../common/2.less')
   ---------------proj1.less
   -------common
   ---------------1.less
   ---------------2.less

Expected Re

[2017-08-01 18:52] brandon-morgan opened #31 "Filesearch.js Syntax error"
Defects:
- [x] Did you run `npm install` and `npm update`
- [ ] Did you pull the latest code from `master` branch?

Steps to reproduce:
# Ran command to compile less according to readme
#
#

Actual Results:
- Syntax error `Unexpected Token [` Line 15 of filesearch.js `let [ , filename ] = m;`

Expected Results:
- A colleague of mine uses this repo and works for him, however after looking into file

[2017-08-04 22:08] eugene-matvejev opened #32 "missing option: included paths"
if you check http://lesscss.org/#getting-started

[code]
there is missing config - if you got app.less which has dependency lets say layout.less [which is located not in same dir] and you do @import ".../layout" inside app.less, it will do not work, as it do have this path included, to make it work you need todo a lot of ../../ stuff to navigate to the right file, but if you would have an option t

[2017-08-08 18:51] emaildano opened #33 "Support files other then .less"
Often using libraries such as Semantic-UI, they include `.variables` files. Changes to those files should run a new build.

Could/should this plugin watch for files other then `.less`?

[2017-08-11 17:01] codedebug commented on #31
I also get the same error after fresh $ npm install -g less-watch-compiler

Line 15 of filesearch.js
`let [ , filename ] = m;`

Syntax error: `Unexpected Token [`

[2017-08-11 17:13] codedebug commented on #31
/lib/filesearch.js commit version 1.5.1 is working, after this the code has the syntax error highlighted above

[2017-08-13 04:30] jonycheung commented on #33
@emaildano It supports watching other types of files by adding a configuration json file `less-watch-compiler.config.json` Let me know if this doesn't work.

[2017-08-13 04:30] #33 closed

[2017-08-13 04:34] jonycheung commented on #31
@codedebug  Thanks. which version of node and npm do you have installed?

[2017-08-14 10:20] codedebug commented on #31
Using Node v4.4.7 and NPM v2.15.8 at the moment

[2017-08-14 10:51] jonycheung commented on #31
@codedebug Ah, the latest would work only with node v6+ since I'm using some ES2015 in it? Is it possible to upgrade or use `nvm`?

[2017-08-14 11:12] jonycheung commented on #31
I'll spend some time to setup babel to make this node4 compatible. In the meantime, you could upgrade to node v6 and get this working immediately.

[2017-08-14 12:55] jonycheung commented on #32
@eugene-matvejev could you let me know the version you are using? Are you using the latest?

If possible, would love a branch with the test case you mentioned (using the files in the "tests" folder

[2017-08-14 12:57] jonycheung commented on #32
is this the same as #30 ?

[2017-08-14 14:27] serjp opened #35 "Error: EISDIR: illegal operation on a directory"
Defects:
- [x] Did you run `npm install` and `npm update`
- [ ] Did you pull the latest code from `master` branch?

Steps to reproduce:
# Create a new file in the <source_dir>
#
#

Actual Results:
[code]

Expected Results:
- No errors

[2017-08-14 14:40] serjp opened #36 "Error: ENOENT: no such file or directory"
Defects:
- [ ] Did you pull the latest code from `master` branch?
- [ ] Did you run `npm install` and `npm update`

Steps to reproduce:
# Rename file in the <source_dir>, even when this file is not imported in the main less file
#
#

Actual Results:
[code]

Expected Results:
- No errors

[2017-08-14 22:45] jonycheung commented on #35
@serjp which version of `less-watch-compiler` Could you try the latest?

[2017-08-15 08:22] #31 closed

[2017-08-15 08:52] serjp commented on #35
@jonycheung `less-watch-compiler@1.6.7`, the latest in npm. Tried version 1.6.13 - seems to be ok.

[2017-08-15 09:03] #35 closed

[2017-08-15 09:06] serjp commented on #36
Don't see this error in version 1.6.13. However there is another bug with renaming. When rename the file more than once watcher does'nt watch it anymore.

[2017-08-15 10:39] jonycheung commented on #31
1.6.15 fixes this issue

[2017-08-15 12:01] BebeSparkelSparkel opened #37 "npm install not working"
$ npm --version
5.3.0

ran install and update and still didn't work

$ npm install -g less-watch-compiler
npm ERR! path /usr/local/lib/node_modules/less-watch-compiler/dist/less-watch-compiler.js
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall chmod
npm ERR! enoent ENOENT: no such file or directory, chmod '/usr/local/lib/node_modules/less-watch-compiler/dist/less-watch-compiler.js'
npm ERR

[2017-08-15 13:13] jonycheung commented on #37
I'm on it..

[2017-08-15 13:51] jonycheung commented on #37
@BebeSparkelSparkel  This is fixed now in v1.6.13 - `npm i -g less-watch-compiler@1.6.13`

[2017-08-15 13:51] #37 closed

[2017-08-16 12:04] #30 closed

[2017-08-16 12:04] jonycheung commented on #32
PR

[2017-08-16 12:04] #32 closed

[2017-08-17 10:31] BebeSparkelSparkel commented on #37
Thanks!

[2017-08-23 08:35] Martinsos opened #40 "Using with create react app"
Hi,
I am looking to use this package with create-react-app generated application, since this package is a good way to do it without ejecting the config files (which makes whole process more complicated).

However, the features that I need for that are:
- ability to run less watch compiler only once when needed, without the actual watching, since this enables me to use the same tool when building (

[2017-08-23 11:36] jonycheung commented on #40
@Martinsos
- The first point could be easy (`--runonce`). I'll start looking into that.
- The second one is one that I want to fix for a while but haven't gotten around as it's a bit tricky.

[2017-08-23 15:51] Martinsos commented on #40
@jonycheung thanks for quick answer!
You mean tricky because it is not really clear how it should work? If it is too complicated to define in a nice way, maybe it is not a feature that should be implemented hm. I guess one simple way would be to just have it compile each file in the directory structure as if it was a main file. That would work for my use case -> maybe it would generate few redunda

[2017-08-24 12:35] jonycheung commented on #40
Currently it work almost like you described. It renders all the the file in root of the target folder. It's smart to skip rendering of imported files.

[2017-08-24 12:38] Martinsos commented on #40
Oh, so right now it will compile all of the files from the source tree but then put them all into the root of target folder? In my case, I just want them created next to the less files. But to be honest, what I am asking does maybe sound too specific.

[2017-08-24 15:10] eugene-matvejev commented on #32
thanks! I'll check it :)

[2017-08-24 18:56] Kequc commented on #36
I performed a npm update recently and have started seeing the error reported in the OP.

`less-watch-compiler ./less ./public/stylesheets style.less`

Where my `./less` directory contains a `style.less` file. I receive ENOENT regardless of whether there is already compiled output in the destination directory.

[2017-08-24 19:02] Kequc commented on #36
Confirmed downgrading to `1.4.2` removes the error. Not the earliest version that works, just that at least `1.7.0` seems to be broken for me.

[2017-08-24 22:55] jonycheung commented on #40
@Martinsos #26 asks for the same thing and I'm wondering what the use case is because mixing `src` and `dest` files in one folder seems messy to me. Could you tell me a little more?

[2017-08-26 09:57] Martinsos commented on #40
Alright, yes, that is the same use case it seems.
The thing is, create-react-app webpack setup allows you to bind each css file with corresponding js file by having `import './foo.css'.` in a js file. Because of that, you end up writing css files throughout the code tree next to corresponding .js files.

Next thing is that create-react-app hides webpack and other build setup from you. If you want

[2017-09-05 16:03] eugene-matvejev commented on #26
confirmed, I think it is important thing :)

[2017-09-15 03:24] #40 closed

[2017-11-08 16:13] rogierslag commented on #40
The tool still does not travel through the source recursively?

[2017-11-22 22:33] kusmierz commented on #26
Any chance to fix this?

[2017-11-23 06:46] jonycheung commented on #26
Sorry. I haven't had time recently. Marking this as help wanted

[2017-12-07 16:45] pinksynth opened #46 "Allow custom name for destination file"
I feel like there is already a way to do this but I'm not sure of it:

It would be great if a custom output name were possible. For instance:

`less-watch compiler src dist main.less main.min.css` would produce `main.min.css` instead of `main.css`.

Thank you!

[2017-12-07 22:44] #26 closed

[2017-12-09 12:22] jonycheung commented on #46
There currently isn't a way. And this prompted me in thinking that add ".min" automatically if you have a minified flag actually doesn't make sense. I may consider removing it.

[2017-12-09 18:21] pinksynth commented on #46
Good question about the `--minified` -> `.min` thing, I would guess that most people prefer it the way it is. On Monday I’ll run two watches concurrently, one with the flag, and see if they give me what I need. My company’s asset pipeline is a little older so every Less compile of ours is intended to have an unminified version and a minified version, instead of using dev/prod environments. Thanks

[2017-12-10 12:29] mickeyvip commented on #35
I am experiencing the same problem with every version > `1.4` (`1.4.2` works ok).

Just set the `watchFolder` to be relative:

`./less`
`../src/less` (in my case)

and the exception is thrown.

Debugging the code of the latest version (`1.10`) I encountered the following code in `lessWatchCompilerUtils.js:184`:

[code]

this function is called (probably the first time) with `f` set to the `watchFo

[2017-12-11 15:05] mickeyvip opened #47 "Error: EISDIR: illegal operation on a directory"
I am experiencing the same problem with every version > `1.4` (`1.4.2` works ok).

Just set the `watchFolder` to be relative:

`./less`
`../src/less` (in my case)

and the exception is thrown.

Debugging the code of the latest version (`1.10`) I encountered the following code in `lessWatchCompilerUtils.js:184`:

[code]

this function is called (probably the first time) with `f` set to the `watchFo

[2017-12-12 06:34] jonycheung commented on #47
Thanks for the great details. I'll look into this asap.

[2017-12-12 06:35] jonycheung commented on #47
@mickeyvip It looks like you may have debugged it a fair bit. Would you be interested in submitting a PR?

[2017-12-13 10:41] mickeyvip commented on #47
@jonycheung thanks, I would love to submit a PR.

I just want to be sure what exactly `if (f.indexOf('.') !== -1)` is supposed to check.

[2017-12-13 22:31] jonycheung commented on #47
yes, that's supposed to be checking for files (not directories) before trying to process it. That's definitely fragile.

[2017-12-14 13:44] eschreiner opened #48 "Error: processes .svn directories"
Are you using the command line tool `less-watch-compiler`? no, it's integrated with `npm`
If you are using the command line tool, which version are you using (`less-watch-compiler --version` to find out)? yes, freshly installed with `npm install`
Is the issue reproducible after updating to the latest version (` npm update less-watch-compiler`)? yes

Upon checkout, my folder tree contains lots of '

[2017-12-14 13:49] eschreiner commented on #48
See #47 - same issue

[2017-12-14 13:49] #48 closed

[2017-12-17 13:21] mickeyvip commented on #47
@jonycheung, the PR is ready

[2017-12-23 13:09] eugene-matvejev opened #50 "--run-once"
less-watch-compiler - 1.10.0
node - 6.11.2 and 8.9.3

Steps to reproduce: [with example repo]
* git clone git@github.com:eugene-matvejev/battleship-game-gui-react-js.git
* cd battleship-game-gui-react-js; npm i;
* https://github.com/eugene-matvejev/battleship-game-gui-react-js/pull/186
* npm run generate:css

Actual Results:
- no files created in src/stylesheets/css

Expected Results:
- should cre

[2017-12-23 13:12] eugene-matvejev commented on #50
bump! works on node 8.9.3

[2017-12-26 09:10] mickeyvip commented on #47
@jonycheung , should this be closed?

[2017-12-26 13:56] speedingdeer commented on #40
Same here :(

[2017-12-28 01:40] jonycheung commented on #47
Just released `v1.10.2` with the fix. Let me know if that doesn't work.

[2017-12-28 01:40] #47 closed

[2017-12-28 01:41] jonycheung commented on #50
Thanks for the issue and reproduction steps. I'll take a look at this probably after the holidays.

[2017-12-28 01:43] jonycheung commented on #36
@serjp / @Kequc Could you please try `v1.10.2` and see if this issue is fixed? If so, please close

[2017-12-28 08:17] mickeyvip commented on #47
it doesn't fail now.
Thanks!

[2018-01-12 01:45] jonycheung commented on #36
Please reopen if this is still an issue.

[2018-01-12 01:45] #36 closed

[2018-01-17 02:34] JM-Agrimap opened #53 "Less files in subfolders are not created on initial run"
NPM - less-watch-compiler v1.10.2

Steps to reproduce:
- Delete the public folder
- Create file in subfolder src/css/file1.less
- Create file in subfolder src/css/subfolder/file2.less
- Command: less-watch-compiler src/css public/css

Actual Results:
- public/css/file1.css is created
- The "subfolder" and "file2.css" are not created

Expected Results:
- "subfolder" and "file2.css" are created on f

[2018-01-18 02:45] JamesMcIntosh opened #55 "Recompile imported LESS files when changed"
* Reference import
```@import (reference) "theme.less"```
These are not recognised by the regex in filesearch.js

* Relative and absolute imports
```@import "../theme.less"```
```@import "/theme.less"```
If you reference a LESS using relative or absolute path

* Excluding the .less extension when referring to files
``````@import "theme"```
This is recognised by the compiler but the comparison in l

[2018-01-18 03:19] JamesMcIntosh commented on #55
This fix does not handle when there are transient dependencies of import statements.

i.e. _homepage.less_ which imports _theme.less_ which imports _colors.less_

Changing _colors.less_ will not cause _homepage.less_ to regenerate, it should.

[2018-01-25 07:21] #53 closed

[2018-01-25 07:35] jonycheung commented on #50
@eugene-matvejev the latest version `1.11.x` should fix this.

[2018-01-25 07:35] #50 closed

[2018-02-06 15:54] vit134 opened #56 "concat and minify result files"
hi i have a little problem

I have some .less files in my app, when i run build-css ("build-css": "less-watch-compiler --v --run-once src/components/ src/styles/") I get the same directory structure as the original with separate .css files. How to merge all the .less files into one and not create many different .css files?

[2018-02-07 22:14] alana-farkas-zocdoc opened #57 "Cannot find module './src/common'"
Hello,

When running the less-watch-compiler <source_dir> <destination_dir> command, I get thrown an error immediately. I updated to the latest version (I think?) by running ` npm update less-watch-compiler `. There was no output in the terminal after running that command. Trying to check the version gives me the same error. I've never seen this error before and don't know what to do! Any suggesti

[2018-02-08 03:05] Etrimon opened #58 "Windows 7 - after compiling creates undeleteable folder with "..""
Are you using the command line tool `less-watch-compiler`? Yes
If you are using the command line tool, which version are you using (`less-watch-compiler --version` to find out)? 1.10.2
Is the issue reproducible after updating to the latest version (` npm update less-watch-compiler`)? Yes

Steps to reproduce:
- 1. Created config file
 {
    "watchFolder" : "../less",
    "outputFolder" : "../css",

[2018-02-10 01:51] jonycheung commented on #58
could you update to `1.11.0` and see if this is still an issue?

[2018-02-10 02:00] jonycheung commented on #56
@vit134 could you try to pass in a less plugin to concat or minify.
Make sure also your included files have '_' in front of it. OR specify a main file (see readme)

Please also try to make sure you are on 1.11.x

[2018-02-10 02:03] jonycheung opened #59 "Handle Transcient dependencies"
i.e. homepage.less which imports theme.less which imports colors.less
As mentioned in Issue #55

[2018-02-10 02:04] jonycheung commented on #55
Closing this one as we have a new issue to track transitive dependencies.

[2018-02-10 02:04] #55 closed

[2018-02-10 02:05] jonycheung commented on #57
When you just run the command, it should give you

`
Missing arguments. Example:
	node less-watch-compiler.js FOLDER_TO_WATCH FOLDER_TO_OUTPUT
	Example 1: To watch all files under the folder "less" and compile all into a folder "css".
		 less-watch-compiler less css
`

[2018-02-18 21:10] jonycheung commented on #56
Please open if you have further questions

[2018-02-18 21:10] #56 closed

[2018-02-18 21:11] jonycheung commented on #58
Please re-open if you have any questions or issues after testing.

[2018-02-18 21:11] #58 closed

[2018-02-18 21:12] jonycheung commented on #57
Please re-open if you have any further questions.

[2018-02-18 21:12] #57 closed

[2018-03-06 06:35] altwohill opened #60 "Compiler creating css in wrong directory"
Are you using the command line tool `less-watch-compiler`?  **Yes**
If you are using the command line tool, which version are you using (`less-watch-compiler --version` to find out)? **1.11.0**
Is the issue reproducible after updating to the latest version (` npm update less-watch-compiler`)? **Yes**

Steps to reproduce:

1. Upgrade from 1.8.0 to 1.11.0
1. Watch LESS, with npm: `"less-watch-compil

[2018-03-10 05:42] jonycheung commented on #60
Looks like a bug, I'll look at this soon.

[2018-03-12 19:50] mobiusnz commented on #60
Cool. Downgrading back to 1.8.0 works around the problem

[2018-03-19 03:39] zhaoyi0113 opened #61 "Initial launch uses a different directory as watcher"
I am using this command:
[code]

it generates the `qbo.less` at the root directory of my project. When a file is changed, the watcher generates the file under `src/assets/less` directory. It looks like they are using different path algorithm.

[2018-03-21 22:34] smifun opened #62 "less-watch-compiler returns error code 0 for less compilation errors"
Are you using the command line tool `less-watch-compiler`?
If you are using the command line tool, which version are you using (`less-watch-compiler --version` to find out)?
`1.11.0`
Is the issue reproducible after updating to the latest version (` npm update less-watch-compiler`)?
`yes`

### In watch mode it make sense to just log error but in run-once process should exit with error code so that

[2018-03-21 22:35] smifun commented on #62
I prepared fix.

[2018-03-22 23:17] jonycheung commented on #61
Will look into this.

[2018-03-23 15:48] jonycheung commented on #62
@smifun Thanks. Do you mind a PR?

[2018-03-26 21:01] smifun commented on #62
#63

[2018-04-03 16:44] filecage commented on #60
Ran into the same issue, my call of `less-watch-compiler src-client/style build/assets style.less` compiles changes from imported styles to `build/assetssrc-client\style/style.css`.

However, any changes inside my entry point `style.less` are handled correctly.

[2018-04-06 06:47] #61 closed

[2018-04-06 06:48] #62 closed

[2018-04-06 06:52] jonycheung commented on #62
Deployed the fix to npm. Let me know if this is ok.

[2018-04-06 06:52] jonycheung commented on #61
@zhaoyi0113 Deployed the fix to npm. Let me know if this is ok.

[2018-04-12 17:05] asiby commented on #60
This is not a bug. Windows does not use the "/" character as directory separator.

I am using a `less-watch-compiler.config.json` configuration file and the following worked for me ...

[code]

[2018-04-17 01:11] mobiusnz commented on #60
This is not true.  The DOS command line originally would not accept "/" as it used it for switches, however DOS (and Windows) has always accepted "/" as a directory separator.

![image](https://user-images.githubusercontent.com/629254/38842901-b15ce9a0-4240-11e8-8285-9483222af860.png)

[2018-04-17 07:43] jonycheung commented on #60
Hi everyone, could you see if `1.11.2` fixes this issue.

[2018-05-07 20:09] altwohill commented on #60
Still getting the issue in 1.11.2

[2018-05-08 20:55] ironng opened #66 "Nested dependency on `hoek` package raises security vulnerability"
Github has flagged versions of [hoek](https://github.com/hapijs/hoek) older than 5.0.3 and 4.2.1 as having security vulnerabilities. (See https://github.com/hapijs/hoek/issues/247.) The `less` version required by the current version of this package (1.11.2) still contains this as a nested dependency.  If `less` is updated to the latest version (3.0.4), this vulnerability warning can be avoided.

[2018-05-09 09:18] filecage commented on #60
Works for me:
[code]
while:
[code]

@altwohill does the issue appear only when changing imported files or *any* files?

[2018-05-09 13:41] #66 closed

[2018-05-09 13:42] jonycheung commented on #66
@ironng  Updated the dep, please let me know if you need anything else.

[2018-05-09 17:13] ironng commented on #66
@jonycheung Great, thank you!

[2018-05-10 01:48] pengliheng opened #68 "how to combine this with postcss????"

[2018-05-10 13:52] jonycheung commented on #68
@pengliheng what are you trying to do?

[2018-06-22 05:36] JamesMcIntosh opened #69 "Current version of less breaks media query aspect ratios"
Version 3.0.4 of less is not yet a very good and stable release.

They have broken things like aspect ratios, see:
https://github.com/less/less.js/issues/1880

Having a media query like the following breaks because it is "16/9" is converted to a decimal 1.7777778
```@media (max-width: 50em) and (max-aspect-ratio: 16/9) ```

[2018-08-12 15:52] tschallacka opened #70 "documentation on npm addition"
https://www.npmjs.com/package/less-watch-compiler has the yarn add global examples, but for my ubuntu on windows 10 it didn't add it globally.

yarn add global less-watch-compiler could have a note that on some distro's you'd have to add sudo in front of it, otherwide people end up with command not found errors.

[2018-09-07 16:54] hatton opened #71 "Error if less file has space in name"
Are you using the command line tool `less-watch-compiler`?
Yes

If you are using the command line tool, which version are you using (`less-watch-compiler --version` to find out)?

1.11.3

Is the issue reproducible after updating to the latest version (` npm update less-watch-compiler`)?

yes

Steps to reproduce:
1. Create a less file with the name "some styles.less", in a directory named "less"
1.

[2018-09-07 17:01] hatton opened #72 "Exlcude node_modules?"
I suppose it must be an unusual thing, but we would like to run this at the top level of our src and thus need to exclude node_modules. Short of adding a full glob ability, I wonder if you would accept a PR that just automatically excludes node_modules?

[2018-09-07 17:43] hatton commented on #60
Using Windows, 1.11.3

Steps to reproduce:
1. Create this file tree:

[code]

2. ``yarn less-watch-compiler some/less some/css``

Actual Results:

[code]

``yarn less-watch-compiler some\less some\css`` fails entirely.

``yarn less-watch-compiler some\\less some\\css`` works fine. However, this is going in a packages.json script that is used on multiple platforms, hence the importance of supportin

[2018-09-10 09:47] tnargib opened #73 "Unable to detect new directories"
Are you using the command line tool `less-watch-compiler`?
`Yes`

If you are using the command line tool, which version are you using (`less-watch-compiler --version` to find out)?
`1.11.3`

Is the issue reproducible after updating to the latest version (` npm update less-watch-compiler`)?

Steps to reproduce:

- (Project created with create react app)
- Run the compiler
- Create new directory
- c

[2018-10-16 09:58] jonycheung commented on #69
Just released an update @1.11.7 with `less 3.8.1`. Hope this solves the problem.

[2018-10-16 10:21] #60 closed

[2018-10-16 11:39] JamesMcIntosh commented on #69
Awesome, I'll give it a test!

[2018-10-16 12:49] jonycheung commented on #71
`1.12.0` should _hopefully_ fix your problem

[2018-10-17 08:41] kusmierz opened #76 "Can't run "less-watch-compiler" command anymore"
Are you using the command line tool `less-watch-compiler`? *yes*
If you are using the command line tool, which version are you using (`less-watch-compiler --version` to find out)? *1.12.0*
Is the issue reproducible after updating to the latest version (` npm update less-watch-compiler`)? *yes*

Steps to reproduce:
1. `yarn add less-watch-compiler`
1. `yarn run less-watch-compiler`

Actual Results:

[2018-10-17 09:12] jonycheung commented on #76
oh no.... let me get on this.

[2018-10-23 04:46] JamesMcIntosh commented on #69
This LESS version does fix the problem but it requires a command line option to enable the functionality, see the math section http://lesscss.org/usage/#less-options

Looks like updating the `lessWatchCompilerUtils.js` compileCSS function adding
[code]

and adding the option to `less-watch-compiler.js` init() function
[code]

Should be enough to activate the functionality, I'll look at a PR.

[2018-10-23 20:57] JamesMcIntosh commented on #69
PR #77 adds the functionality and improves the setup of the unit tests to stop configuration accidently spilling over between tests.

[2018-10-30 00:42] jonycheung commented on #69
You can now pass less options in `1.13.0` using --less-args

[2018-10-30 00:42] #69 closed

[2019-06-06 18:12] sselfridge opened #82 "Feature: Option to include warning message in compiled CSS file"
Version: 1.13.0

**Is the issue reproducible after updating to the latest version ( npm update less-watch-compiler)?** Yes

Recently started working on a project using this and had never used less before.  Started changing the .css file for styling changes because we didn't know better.

Would be helpful to have a commented message at the top of the CSS file:

```// this is an auto-generated file

[2019-06-19 13:53] sharmasourabh opened #83 "less compilation with css-modules"
**Which version are you using (less-watch-compiler --version to find out)?**: 1.13.0

**Is the issue reproducible after updating to the latest version ( npm update less-watch-compiler)?** Yes

**Describe the bug**
Does not work with css-modules.

[code]

gets compiled into

[code]

Could you please share how to handle scoped variables?

[2019-09-09 13:02] rfisch-sportblx opened #90 "MaxListenersExceededWarning"
**Which version are you using (less-watch-compiler --version to find out)?**
npm 6.4.1
node 10.13.0
less 3.9.0
compiler 1.13.0

**Is the issue reproducible after updating to the latest version ( npm update less-watch-compiler)?**

**Describe the bug**
When running from the command line
`less-watch-compiler --config less-watch-compiler.config.json`

receive the following response:
`Watching directo

[2019-09-10 12:31] #90 closed

[2020-01-03 15:24] ksathyanm opened #95 "Remove unused dependency - opencollective ?"
Are you using the command line tool `less-watch-compiler`?
Yes

If you are using the command line tool, which version are you using (`less-watch-compiler --version` to find out)?
1.14.1

Is the issue reproducible after updating to the latest version (` npm update less-watch-compiler`)?
Yes

Steps to reproduce:

-  ~~`npm install`  on the project directory~~
-  `rm -rf ./node_modules/ && npm instal

[2020-01-15 17:59] ksathyanm commented on #95
@jonycheung - ping

[2020-01-15 22:42] jonycheung commented on #95
@ksathyanm Thanks for the ping. Which version of node and npm are you on?

[2020-01-16 04:41] jonycheung commented on #95
I'm not seeing this error. Just wanted to make sure I'm fixing the right thing.

[2020-01-16 17:43] ksathyanm commented on #95
@jonycheung Here are the versions of node and npm.

[code]
I see the warning only on npm clean installation.

[code]

[2020-01-20 14:58] GuillaumeLachaud commented on #95
My build is now failing with the following. Same code was building fine this morning so I guess this commit and the subsequent publish is the culprit.

` warning "workspace-aggregator-106f1d29-f841-45dc-9f47-9f04317fc9e5 > junon > style-loader@1.1.3" has unmet peer dependency "webpack@^4.0.0 || ^5.0.0".
       [4/4] Building fresh packages...
       error /tmp/build_17bf171fa0ba92efd6443d35681cdde

[2020-01-20 15:50] ksathyanm commented on #95
@jonycheung `opencollective-postinstall` and `shelljs` needs to be part of `dependencies`.

@GuillaumeLachaud

[2020-01-20 15:57] ksathyanm commented on #95
@monkeywithacupcake `opencollective` was added to `dependencies` as part of #79. Can you please confirm if it is really needed?

[2020-01-20 17:06] stell commented on #95
Same error here:
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! less-watch-compiler@1.14.4 postinstall: `opencollective-postinstall`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the less-watch-compiler@1.14.4 postinstall script.

[2020-01-20 22:58] jonycheung commented on #95
just reverted the change and published 1.14.5

[2020-01-21 09:01] #95 closed

[2020-01-23 04:54] jonycheung commented on #95
1.14.6 is released with this PR. Please let me know if there's any issue. Sorry about the earlier covfefe,

[2020-02-27 09:49] alessandromaggioniweb opened #102 "A small inaccuracy in the sample configuration file: less-watch-compiler.config.json"
Version: 1.14.6

I report only a small inaccuracy in the sample configuration file:

<div class="highlight highlight-source-json"><pre>{
    <span class="pl-s"><span class="pl-pds">"</span>watchFolder<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>&lt;input_folder&gt;<span class="pl-pds">"</span></span>,
    <span class="pl-s"><span class="pl-pds">"</span>outp

[2020-03-12 19:59] daveisfera opened #103 "Can't use `rgba()` to modify a var"
**Which version are you using (less-watch-compiler --version to find out)?** 1.14.6

**Is the issue reproducible after updating to the latest version ( npm update less-watch-compiler)?** Yes

**Describe the bug**
Can't specify `--modify-var` with `rgba()`

**To Reproduce**
Steps to reproduce the behavior:
Run `--less-args "modify-var='text-color-primary=rgba(23, 34, 45, 0.5)'

**Actual behavior**

[2020-04-24 02:57] ledsun opened #107 "Node.js v14 Warning: Accessing non-existent property ___ of module exports inside circular dependency"
**Which version are you using (less-watch-compiler --version to find out)?**

[code]

**Is the issue reproducible after updating to the latest version ( npm update less-watch-compiler)?**

YES.

**Describe the bug**

The following warning is displayed when running less-watch-compiler in Node.js v14.

[code]

**To Reproduce**
[code]

**Actual behavior**
[code]

**Expected behavior**
No warning is d

[2020-05-23 23:37] softwaretechniker opened #108 "Feature: Option "recursive""
Thank you very much for developing (or contributing) to that nice little watcher!

Actually if you'd like to limit watching files on a folder without any sub-folders, it is not possible yet:
There's no check on any configuration in lib/lessWatchCompilerUtils.js at line 83.

A check on any option "recursive" would be nice.

A matured alternative would be a recursion-"depth"-option, but it may get m

[2020-10-01 15:25] Luke1298 commented on #108
+1

[2020-10-01 16:29] softwaretechniker commented on #108
Because I still didn't found any alternatives, I migrated all my LESS sources to SASS (scss). It was easy using some other open-source-tool (just a few manual fixes). In SASS I have a (more powerfull) file-watcher out of the box and similar syntax and functionallity. Maybe this helps anyone waiting for that functionallity as well.
...and after migrating to SASS I even bought an IDE with file watch

[2020-11-11 15:56] uosl opened #115 "Feature: --run-initially flag to compile once and then watch"
When our project is freshly cloned, it will be missing the CSS file and less-watch-compiler won't build it until there's a change in the less sources. This leads to having to run it twice: `npx less-watch-compiler --run-once less/ resources/public/css/ site.less && npx less-watch-compiler less/ resources/public/css/ site.less`.

It seems it would be useful to have a `--run-initially` flag which ma

[2020-12-29 01:37] ledsun commented on #107
I have confirmed that this warning does not appear if shelljs 0.8.4 is installed.

[2020-12-29 01:37] #107 closed

[2021-01-04 14:00] filipesilva opened #117 ".less extension in @import is not optional in watch mode under some file structures"
**Which version are you using (less-watch-compiler --version to find out)?** 1.14.6

**Is the issue reproducible after updating to the latest version ( npm update less-watch-compiler)?** yes

**Describe the bug**
The LESS docs say that the `.less` extension is optional on imports.

But `less-watch-compiler` will throw an exception when it encounters such imports under very specific circumstances:

[2021-01-23 07:08] Misiur commented on #107
Vote for reopen

[2021-04-16 09:17] jw-12138 commented on #108
I've noticed this problems few weeks ago, try my version of less compiler [https://github.com/jw-12138/lessby](https://github.com/jw-12138/lessby), it has a recursive option 🌝

[2021-05-03 11:04] jonycheung commented on #115
@uosl less-watch-compiler should do an initial compile when run without the `--run-once` flag. Is that not sufficient? I double check that this works. Are you sure you don't have a race condition on your end?

[2021-05-03 13:52] jonycheung commented on #108
Thank you all. The library does recursively watch all files in subdirectories now if a folder is passed as source.  I think I could provide a way to watch multiple main files and recompile all of them when a change is detected in any of the subdirectories. would that work?

[2021-05-03 13:59] jonycheung commented on #103
Sorry for the late reply. It was running less `3.8.1`.  Do you know if this is a new feature in less 4? I can probably just upgrade the dependency here if so.

[2021-05-03 14:01] jonycheung commented on #102
Thanks! I fixed it just now.

[2021-05-03 14:01] #102 closed

[2021-05-04 13:51] kevinjyee opened #128 "less-watch-compiler.config.json not being loaded"
**Which version are you using (less-watch-compiler --version to find out)?**
1.15.0

**Is the issue reproducible after updating to the latest version ( npm update less-watch-compiler)?**
Yes.

**Describe the bug**
`less-watch-compiler.config.json` is not being loaded in after bumping from version `1.14.6` to `1.15.0`

**To Reproduce**
Steps to reproduce the behavior:
1. Folder setup
  ─ src

[2021-05-07 07:50] jonycheung commented on #128
I found a solution. I'll submit a PR soon

[2021-05-07 07:50] jonycheung commented on #128
For now, you should be able to add `--config less-watch-compiler.config.json` to get around it.

[2021-05-08 06:02] #128 closed

[2021-05-08 06:10] jonycheung commented on #128
This was released in `v1.15.1` Thanks.

[2021-05-08 10:30] jonycheung commented on #103
'v1.15.1' has less `v4`. Could you try it again and reopen if this doesn't work?

[2021-05-08 11:23] jonycheung commented on #103
The issue wouldn't be solved with less upgrade because I need to ignore parsing your commas in the parenthesis. I'll have to look into it.

[2021-05-08 11:24] jonycheung commented on #103
Leaving a note for myself - [this](https://stackoverflow.com/questions/33400570/regex-to-parse-a-comma-separated-list-excluding-content-within-parentheses) may help.

[2021-05-10 15:48] Camble opened #136 "--config switch no longer works"
**Which version are you using (less-watch-compiler --version to find out)?**
1.15.1

**Describe the bug**
less-watch-compiler will not run if the --config switch is used

**To Reproduce**
Steps to reproduce the behavior:
1. Rename config file to less-watch.config.json
2. Run less-watch-compiler --config less-watch.config.json

**Actual behavior**
[0] Missing arguments. Example:
[0]     node less-w

[2021-05-11 13:12] PH89 opened #137 "--run-once parameter is not working anymore"
**Which version are you using (less-watch-compiler --version to find out)?**
1.15.1

**Is the issue reproducible after updating to the latest version ( npm update less-watch-compiler)?**
Yes

**Describe the bug**
--run-once is ignored and the less-watch-compiler is watching for file changes.

**To Reproduce**
Simple use --run-once on a version higher then 1.14.7

**Desktop (please complete the fol

[2021-05-29 11:51] jonycheung commented on #137
I'm working on this. Should have a fix soon.

[2021-05-29 11:51] jonycheung commented on #136
I'm working on this. Should have a fix soon.

[2021-05-29 13:00] #136 closed

[2021-05-29 13:03] jonycheung commented on #137
v1.15.2 should have a fix for this. Please

[2021-05-29 13:03] #137 closed

[2021-05-29 13:04] jonycheung commented on #136
v1.15.2 should have a fix for this. Please let me know if you have any issue.

[2021-07-07 20:44] cap10morgan commented on #95
I'm seeing this error again upgrading to 1.16.2 from 1.14.6 on node 14.17.3 installed via Homebrew on macOS. I.e. `sh: opencollective-postinstall: command not found`

[2021-07-14 13:17] uosl commented on #115
Sorry for the very late response!

You're right - I made a minimal reproduction and it does do an initial compile. I'm not sure what's up with our project setup to cause what I described, but it doesn't seem to be related to the tool.

[2021-07-14 13:17] #115 closed

[2021-08-30 09:23] renovate[bot] opened #155 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-05 03:19] monkeywithacupcake commented on #95
The `opencollective-postinstall` can be completely removed from the package. it is no longer necessary

[2021-11-23 17:40] mhnaeem commented on #117
I have been facing the same issue and the PR attached above fixed it for me. The basis for change was this line in LESS documentation

Link: https://lesscss.org/features/#import-atrules-feature-file-extensions

@jonycheung Let me know if it works.